

.banner{
background-image: url('../../assets/images/gradient.png'),url('../../assets/images/people.png');
background-size: cover;
background-position: center;
min-height:58rem;
@media(max-width:1246px){
  min-height: 40rem;
}
@media(max-width:428px){
  margin-bottom: 9.4rem;
}


&__content-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media(max-width:1246px) {
      text-align: center;
      justify-content: center;
      align-items: center;
      
    }

    @media(max-width:1024px) {
      text-align: center;
      justify-content: center;
      align-items: center;
      
    }
    @media(max-width:768px) {
      text-align: center;
      justify-content: center;
      align-items: center;
      
    }
  }


  &__content-text{
    @media(max-width:1246px){
      margin-top:5rem;
    }

  }

&__title{
    color: #ffffff;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }

&__description{
    color: #ffffff;
    font-size: 1.3rem;
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;
}




&__search-box {
    width: 290px;
    border: none;
    border-bottom: 2px solid #7778B0;
    background-color: #242565;
}

&__image{
  float: left;
  transform: translateX(-20%);
  margin-top: 7rem;
  @media(max-width:1246px) {
    display: none;
  }

  @media(max-width:1024px) {
    display: none;
  }

  @media(max-width:768px) {
    display: none;
  }

}

}





