.banner{
// background-image: url("/src/assets/images/people.png");
background-image: url("/src/assets/images/Rectangle\ 10.png");
background-color: #333333;
background-size: cover;
background-position: center;
padding: 13rem 0;
min-height:58rem;



&__title{
    color: #ffffff;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }

&__description{
    color: #ffffff;
    font-size: 1.3rem;
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;
}
}

.kpop{
    float: left;
}

