.brands{
    display: grid;
    &__header{
        margin-top: 5rem;
        margin-bottom: 5.5rem;
    }
    &__header-title{
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Montserrat", sans-serif;
        color:#242565;
        margin-bottom: 1.3rem;
    }

    &__header-description{
        text-align: center;
        font-size: 1.2rem;
        font-family: 'DM Sans', sans-serif;
    }
    &__image{
margin: auto;
    }
    &__examples{
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        grid-gap: 20px; 
    }
}