.brands{
    &__header{
        margin-top: 5rem;
    }
    &__header-title{
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Montserrat", sans-serif;
        color:#242565;
    }

    &__header-description{
        text-align: center;
        font-size: 1.2rem;
        font-family: 'DM Sans', sans-serif;
    }
}