.brands{
display: grid;
&__header{
margin-top: 5rem;
margin-bottom: 5.5rem;
}
&__header-title{
text-transform: uppercase;
text-align: center;
font-size: 2.5rem;
font-family: "Montserrat", sans-serif;
color: $secondary-color;
margin-bottom: 1.3rem;
}

&__header-description{
text-align: center;
font-size: 1.2rem;
font-family: 'DM Sans', sans-serif;
}
&__image-first{
margin: auto;

}


&__image-second{
margin-top: auto;
margin-bottom: auto;
margin-left: 10rem;
@media(max-width:933px){
    margin: auto;  
   }
}


&__examples-first{
@include grid-columns;
animation: bounce 1s linear;
@keyframes bounce {
    20%,50%,80%, to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
    }
}
@media(max-width:933px){
    grid-template-columns: repeat(3,2fr);   
   }
}
}