.header{
position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 78px;
    z-index: 15;
}

.navigation {

    // .navigation__logo

    &__logo {
        margin-top: 1rem;
        float: left;
    }

    // .navigation__menu

    &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    }

    // .navigation__list

    &__list {
            display: flex;
            justify-content: center;
    padding: 1rem 5rem;
            gap: 70px;
    font-family: 'DM Sans', sans-serif;
    }

    // .navigation__list-item

    &__list-item {
    }

    // .navigation__link

    &__link {
    color: $main-color;
            text-decoration: none;
    }
}