.header{
  position: fixed;
        top: 0;
        min-width: 100%;
        min-height: 78px;
        z-index: 15;
    }
    
    .navigation {
    
    
        &__logo {
            margin-top: 1rem;
            float: left;
        }
    
    
        &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem;
        @media(max-width:836px){
            display: none;
        }
        }
    
    
        &__list {
                display: flex;
                justify-content: center;
        padding: 1rem 5rem;
                gap: 70px;
        font-family: 'DM Sans', sans-serif;
        }
    
        // .navigation__list-item
    
        &__list-item {
        }
    
        // .navigation__link
    
        &__link {
        color: $main-color;
                text-decoration: none;
        }
    }

    .menu__btn {
        display: flex; 
        justify-content: end;
        position: fixed;
        right: 15px;
        top: 35px; 
        width: 26px;
        height: 26px;  cursor: pointer;
        z-index: 1;
        display: none;
        @media(max-width:836px){
            display: flex; 
        justify-content: end;
        position: fixed;
        right: 15px;
        top: 35px; 
        width: 26px;
        height: 26px;  cursor: pointer;
        z-index: 1;
        }
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;  width: 100%;
        height: 2px;  background-color: #ffffff;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
  

      

