.header{
    position: fixed;
        top: 0;
        min-width: 100%;
        min-height: 78px;
        z-index: 15;
    }
    
    .navigation {
    
    
        &__logo {
            margin-top: 1rem;
            float: left;
        }
    
    
        &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem;
        }
    
    
        &__list {
                display: flex;
                justify-content: center;
        padding: 1rem 5rem;
                gap: 70px;
        font-family: 'DM Sans', sans-serif;
        }
    
        // .navigation__list-item
    
        &__list-item {
        }
    
        // .navigation__link
    
        &__link {
        color: $main-color;
                text-decoration: none;
        }
    }




  
  

