.upcoming {
    background-color: #f7f7f7;
    // .upcoming__header

    &__header {
        margin-bottom: 5rem;
    }

    // .upcoming__title

    &__title {
        float: left;
        font-family: "Montserrat", sans-serif;
        font-size: 2.5rem;
        color: $title-color;
    }

    // .upcoming__choice

    &__choice {
        display: flex;
        justify-content: flex-end;
        gap: 1.3rem;
    }

    // .upcoming__weekdays

    &__weekdays {
    }

    // .upcoming__input

    &__input {
        color: #1D275F;
        font-family: 'DM Sans', sans-serif;
        border: none;
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        background-color: #e3e4ee;

        &:focus{
            outline: 1px solid #b8bac2;
        }
    }

    // .upcoming__type

    &__type {
    }

    // .upcoming__category

    &__category {
    }
}

.upcoming {

    // .upcoming__cards-container

    &__cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 20px; 
    }

    // .upcoming__card-title

    &__card-title {
        font-size: 1rem;
        font-family: 'DM Sans', sans-serif;
        margin-top: 1rem;
    }

    // .upcoming__card-description

    &__card-description {
        font-size: 0.8rem;
        font-family: 'DM Sans', sans-serif;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    &__button{
        margin-top: 5rem;
        display: block;
        margin-left: 39rem;
        margin-bottom: 5rem;
    }
}
.card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.9rem;
    background-color: #FFFFFF;
    transition: 0.3s;
    border-radius: 20px;

}


.upcoming__container{
    display: flex;

}

.upcoming__date-text{
    text-align: center;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}