/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}



/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

textarea {
  resize: none;
}