.header-button{
    border: 2px solid;
    color: #fff;
    border-radius:7rem;
    padding:0.7rem 1.3rem;
    cursor: pointer;    
}

.banner__button-learn{
    margin-top: 2rem;
    color: #fff;
    border-radius:7rem;
    padding:1.4rem 3rem;  
    margin-right: 1.3rem;
    background-color:#F5167E;
    cursor: pointer; 
    @media(max-width:320px){
        margin: auto;
        margin-top: 2rem;
    }
}

.banner__button-ticket{
    margin-top: 2rem;
    color: #fff;
    border: 2px solid;
    border-radius:7rem;
    padding:1.2rem 2.65rem; 
    cursor: pointer;  
    @media(max-width:320px){

    }
}

.load__button{
    border: 2px solid;
    color: #3D37F1;
    border-radius:7rem;
    padding:1.3rem 2.8rem;
    cursor: pointer;   
}

.load__button:hover{
    color: #fff;
    background-color: #3430b8; 
}

.create__button{
    margin-top: 1rem;
    color: #fff;
    border-radius:7rem;
    padding:1.4rem 8rem;  
    margin-right: 1.3rem;
    background-color:#F5167E;
    cursor: pointer; 
    @media(max-width:768px){
        margin-bottom: 1rem;
    }
}