.header-button{
    border: 2px solid;
    color: #fff;
    border-radius:7rem;
    padding:0.7rem 1.3rem;    
}

.banner__button-learn{
    margin-top: 2rem;
    color: #fff;
    border-radius:7rem;
    padding:1.4rem 3rem;  
    margin-right: 1.3rem;
    background-color:#F5167E;
}

.banner__button-ticket{
    margin-top: 2rem;
    color: #fff;
    border: 2px solid;
    border-radius:7rem;
    padding:1.3rem 2.8rem;  
}