.banner{
   background-image: url("/src/assets/images/Rectangle\ 10.png");
   background-color: #333333;
   background-size: cover;
   background-position: center;
   min-height: 40rem;
   display: grid;
   grid-template-columns: 12;
}

.banner-header{
    text-align: left;
  }
  
  .banner__title{
    color: #ffffff;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Raleway;
  }
  .banner__description {  
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 1.7rem;
    font-family: Raleway;
  }
  