.upcoming__title {
  font-size: 2.5rem;
  color: #242565;
  font-family: "Montserrat", sans-serif;
  float: left;
}
.upcoming__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.3rem;
  margin-top: 1rem;
}
.upcoming__upcoming__input {
  color: #1D275F;
  font-family: "DM Sans", sans-serif;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background-color: #F2F4FF;
}
.upcoming__upcoming__input:focus {
  outline: 1px solid #b8bac2;
}